:root {
  --background-up: #282a36;
  --background-down: #1b1f2c;
  --background-window: #44475a;
  --border-color: #282a36;
  --topbar-basic: #282a36;
  --topbar-time: #f8f8f280;
  --hl-pres: #bd93f9;
  --hl-pres-o: #a27aff;
  --hl-green: #56fd7f;
  --hl-warn: #ff5555;
  --hl-watch: #f1fa8c;
  --hl-light: #f8f8f2;
  --hl-light80: #f8f8f2cc;
  --hl-light50: #f8f8f280;
  --hl-light30: #f8f8f24d;
  --hl-light20: #f8f8f233;
  --hl-light10: #f8f8f21a;
  --font100: #202020;
  --font80: #202020cc;
  --font50: #20202080;
  --font30: #2020204d;
  --font25: #945d5d40;
  --font20: #20202033;
  --font10: #2020201a;
}
