@import '@/assets/darkPalette.css';

@font-face {
  font-family: 'ASDGothicM';
  src: url('@/assets/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ASDGothicUL';
  src: url('@/assets/fonts/AppleSDGothicNeoR.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ASDGothicH';
  src: url('@/assets/fonts/AppleSDGothicNeoB.ttf') format('truetype');
  font-weight: normal;
}

#app {
  font-family: 'ASDGothicM', 'Noto Sans KR', sans-serif;
  display: flex;
  place-items: center;

  width: 1160px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;

  color: var(--font100);
}

body {
  background-color: var(--background-up);

  /* height: calc(100vh - 30px); */
  width: 100vw;
  height: auto;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;

  align-items: center;

  display: flex;
  place-items: center;

  overflow-x: hidden;
}

/* @media (max-height: 780px) {
  #banner {
    display: none;
  }
} */

.window {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
}

body::-webkit-scrollbar {
  width: 10px;
  border-left: 1px solid var(--hl-light30);
}

body::-webkit-scrollbar-thumb {
  background: #a0a0a0; /* 스크롤바 색상 */
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); /*스크롤바 뒷 배경 색상*/
}

body::-webkit-scrollbar-button {
  height: 6px;
}
